@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
color:#d69a18 ;
background-color:#0c0c0c;
margin: 0px;
margin-bottom: 100px;
font-family: roboto nomo
}

h1{
color:#db9a0f;
font-size: 40px;

p{
    font-size: 20px;
}''





